.movie-thumbnail{
  display: inline-block;
  margin-right: 20px;
  width: 165px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 4px;
  .caption{
    color: #000;
    padding: 7px;
  }
  .title{
    display: block;
    font-size:18px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .btn-rating{
    margin-bottom: 5px;
  }
  .site-icon{
    height: 16px;
    display: inline-block;
  }
  img.movie-poster {
    max-width: 135px;
  }
  *:link{
    color: #333;
    text-decoration: none;
  }
}

.output_wrapper .btn-rating{
  display: inline-block;
  text-align: center;
  border: 1px solid  #ccc;;
  border-radius: 2px;
  padding: 6px 12px;
}

.btn-rating{
  display: block;
}

svg.mpld3-figure{
  min-height: 1200px;
}
.mpld3-tooltip{
  .movie-thumbnail{
     width: 180px;
      .caption{
        padding: 9px;
      }
      img.movie-poster {
        max-width: 160px;
        /*max-height: 240px;*/
      }
  }
}
